@import 'swiper/css/bundle';

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
  padding-top: 10px;
}

.swiper-button-prev, 
.swiper-button-next {
  color: #15aabf;
}
